1. Importing the Necessary Libraries

In [55]:
import pandas as pd
from datetime import datetime
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

2. Importing the Dataset

In [56]:
dataset = pd.read_csv("/content/DKHousingPricesSample100k.csv")
dataset

,date,quarter,house_id,house_type,sales_type,year_build,purchase_price,%_change_between_offer_and_purchase,no_rooms,sqm,sqm_price,address,zip_code,city,area,region,nom_interest_rate%,dk_ann_infl_rate%,yield_on_mortgage_credit_bonds%
0,2024-10-24,2024Q4,16,Villa,regular_sale,1997,6500000,-3.0,5,142.0,45774.6500,Spættevej 16,2680,Solrød Strand,"Capital, Copenhagen",Zealand,3.1,NaN,NaN
1,2024-10-24,2024Q4,13,Apartment,regular_sale,1885,3400000,0.0,2,46.0,73913.0500,"Jakob Dannefærds Vej 10B, 4. th",1973,Frederiksberg C,"Capital, Copenhagen",Zealand,3.1,NaN,NaN
2,2024-10-23,2024Q4,60,Villa,regular_sale,1949,4550000,-4.0,4,112.0,40625.0000,Vestre Plantagevej 3,2680,Solrød Strand,"Capital, Copenhagen",Zealand,3.1,NaN,NaN
3,2024-10-23,2024Q4,29,Villa,regular_sale,2001,1630000,-12.0,4,186.0,8763.4400,Toftebjerg 3,4400,Kalundborg,Other islands,Zealand,3.1,NaN,NaN
4,2024-10-22,2024Q4,92,Apartment,regular_sale,1965,1975000,-10.0,3,82.0,24085.3650,"Ryttergårdsvej 20, 1. 113",3520,Farum,North Zealand,Zealand,3.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1992-01-06,1992Q1,1505832,Villa,family_sale,1970,1122000,0.0,4,150.0,7480.0000,Brudedalen 30,3520,Farum,North Zealand,Zealand,9.5,2.1,10.14
99996,1992-01-06,1992Q1,1505823,Villa,regular_sale,1898,452000,0.0,5,102.0,4431.3726,Bregningevej 1,4593,Eskebjerg,Other islands,Zealand,9.5,2.1,10.14
99997,1992-01-06,1992Q1,1505817,Apartment,regular_sale,1890,1285000,0.0,4,246.0,5223.5770,"Rosengade 15, 1",4200,Slagelse,Other islands,Zealand,9.5,2.1,10.14
99998,1992-01-05,1992Q1,1505868,Villa,family_sale,1954,800000,0.0,6,147.0,5442.1770,Nygårdsvej 112,6700,Esbjerg,South jutland,Jutland,9.5,2.1,10.14
99999,1992-01-05,1992Q1,1505872,Villa,regular_sale,1956,730000,0.0,5,110.0,6636.3640,Grundtvigs Alle 115,6400,Sønderborg,South jutland,Jutland,9.5,2.1,10.14

In [57]:
dataset.describe()

,house_id,year_build,purchase_price,%_change_between_offer_and_purchase,no_rooms,sqm,sqm_price,zip_code,nom_interest_rate%,dk_ann_infl_rate%,yield_on_mortgage_credit_bonds%
count,1.000000e+05,100000.000000,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,99923.000000,99923.000000
mean,7.531364e+05,1955.078530,1.925992e+06,-2.084740,4.375790,129.387820,16406.648074,5951.612680,1.679263,1.927025,4.107445
std,4.348902e+05,45.703585,1.777832e+06,4.852926,1.661686,57.170619,13655.184405,2369.938171,2.048078,1.638440,2.194428
min,1.300000e+01,1000.000000,2.502000e+05,-49.000000,1.000000,26.000000,374.549800,1051.000000,0.000000,0.250000,1.100000
25%,3.770722e+05,1931.000000,8.000000e+05,-3.000000,3.000000,89.000000,6792.940775,4000.000000,0.000000,0.790000,2.120000
50%,7.511035e+05,1966.000000,1.400000e+06,0.000000,4.000000,123.000000,12070.707000,5970.000000,0.750000,1.850000,4.340000
75%,1.128904e+06,1980.000000,2.450000e+06,0.000000,5.000000,160.000000,21343.201500,8250.000000,3.250000,2.340000,5.500000
max,1.507901e+06,2024.000000,4.595500e+07,49.000000,15.000000,984.000000,75000.000000,9990.000000,9.500000,7.700000,10.140000

In [58]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   date                                 100000 non-null  object
 1   quarter                              100000 non-null  object
 2   house_id                             100000 non-null  int64
 3   house_type                           100000 non-null  object
 4   sales_type                           100000 non-null  object
 5   year_build                           100000 non-null  int64
 6   purchase_price                       100000 non-null  int64
 7   %_change_between_offer_and_purchase  100000 non-null  float64
 8   no_rooms                             100000 non-null  int64
 9   sqm                                  100000 non-null  float64
 10  sqm_price                            100000 non-null  float64
 11  address                              100000 non-null  object
 12  zip_code                             100000 non-null  int64
 13  city                                 99989 non-null   object
 14  area                                 100000 non-null  object
 15  region                               100000 non-null  object
 16  nom_interest_rate%                   100000 non-null  float64
 17  dk_ann_infl_rate%                    99923 non-null   float64
 18  yield_on_mortgage_credit_bonds%      99923 non-null   float64
dtypes: float64(6), int64(5), object(8)
memory usage: 14.5+ MB

In [59]:
dataset.isnull().sum()

date                                    0
quarter                                 0
house_id                                0
house_type                              0
sales_type                              0
year_build                              0
purchase_price                          0
%_change_between_offer_and_purchase     0
no_rooms                                0
sqm                                     0
sqm_price                               0
address                                 0
zip_code                                0
city                                   11
area                                    0
region                                  0
nom_interest_rate%                      0
dk_ann_infl_rate%                      77
yield_on_mortgage_credit_bonds%        77
dtype: int64

In [60]:
dataset = dataset.dropna(axis = 0)

In [61]:
dataset['region'] = dataset['region'].replace({'Fyn & islands': 'Fyn_and_islands'})

<ipython-input-61-a7ad92b867f6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['region'] = dataset['region'].replace({'Fyn & islands': 'Fyn_and_islands'})

In [62]:
dataset['date'] = pd.to_datetime(dataset['date']) # Convert date column to datetime format
current_year = datetime.now().year # Get the current year
dataset['age'] = current_year - dataset['year_build'] # Calculate the age of the house
dataset

<ipython-input-62-215e6487f58e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['date'] = pd.to_datetime(dataset['date']) # Convert date column to datetime format
<ipython-input-62-215e6487f58e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['age'] = current_year - dataset['year_build'] # Calculate the age of the house

,date,quarter,house_id,house_type,sales_type,year_build,purchase_price,%_change_between_offer_and_purchase,no_rooms,sqm,sqm_price,address,zip_code,city,area,region,nom_interest_rate%,dk_ann_infl_rate%,yield_on_mortgage_credit_bonds%,age
77,2024-09-30,2024Q3,1326,Apartment,regular_sale,2020,2470000,-5.0,3,74.0,33378.3800,"Cikoriegade 17, st. 1",2640,Hedehusene,"Capital, Copenhagen",Zealand,3.35,1.13,4.34,4
78,2024-09-30,2024Q3,1265,Apartment,regular_sale,1900,1120000,-2.0,2,39.0,28717.9500,"Valdemarsgade 12, 3. tv",9000,Aalborg,North jutland,Jutland,3.35,1.13,4.34,124
79,2024-09-30,2024Q3,1345,Apartment,regular_sale,1921,725000,0.0,3,116.0,6250.0000,Lønborgvej 14A,6880,Tarm,South jutland,Jutland,3.35,1.13,4.34,103
80,2024-09-30,2024Q3,1233,Villa,regular_sale,1994,1475000,-8.0,4,127.0,11614.1730,Ã vej 2A,7451,Sunds,South jutland,Jutland,3.35,1.13,4.34,30
81,2024-09-30,2024Q3,1229,Villa,regular_sale,1850,1775000,-13.0,5,160.0,11093.7500,Farvergårdsvej 6,3200,Helsinge,North Zealand,Zealand,3.35,1.13,4.34,174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1992-01-06,1992Q1,1505832,Villa,family_sale,1970,1122000,0.0,4,150.0,7480.0000,Brudedalen 30,3520,Farum,North Zealand,Zealand,9.50,2.10,10.14,54
99996,1992-01-06,1992Q1,1505823,Villa,regular_sale,1898,452000,0.0,5,102.0,4431.3726,Bregningevej 1,4593,Eskebjerg,Other islands,Zealand,9.50,2.10,10.14,126
99997,1992-01-06,1992Q1,1505817,Apartment,regular_sale,1890,1285000,0.0,4,246.0,5223.5770,"Rosengade 15, 1",4200,Slagelse,Other islands,Zealand,9.50,2.10,10.14,134
99998,1992-01-05,1992Q1,1505868,Villa,family_sale,1954,800000,0.0,6,147.0,5442.1770,Nygårdsvej 112,6700,Esbjerg,South jutland,Jutland,9.50,2.10,10.14,70
99999,1992-01-05,1992Q1,1505872,Villa,regular_sale,1956,730000,0.0,5,110.0,6636.3640,Grundtvigs Alle 115,6400,Sønderborg,South jutland,Jutland,9.50,2.10,10.14,68

In [63]:
dataset = dataset.drop(['date' , 'quarter' , 'house_id' , 'year_build' , 'sqm_price' , 'address' , 'city' , 'zip_code' , 'area'] , axis='columns')

In [64]:
dataset

,house_type,sales_type,purchase_price,%_change_between_offer_and_purchase,no_rooms,sqm,region,nom_interest_rate%,dk_ann_infl_rate%,yield_on_mortgage_credit_bonds%,age
77,Apartment,regular_sale,2470000,-5.0,3,74.0,Zealand,3.35,1.13,4.34,4
78,Apartment,regular_sale,1120000,-2.0,2,39.0,Jutland,3.35,1.13,4.34,124
79,Apartment,regular_sale,725000,0.0,3,116.0,Jutland,3.35,1.13,4.34,103
80,Villa,regular_sale,1475000,-8.0,4,127.0,Jutland,3.35,1.13,4.34,30
81,Villa,regular_sale,1775000,-13.0,5,160.0,Zealand,3.35,1.13,4.34,174
...,...,...,...,...,...,...,...,...,...,...,...
99995,Villa,family_sale,1122000,0.0,4,150.0,Zealand,9.50,2.10,10.14,54
99996,Villa,regular_sale,452000,0.0,5,102.0,Zealand,9.50,2.10,10.14,126
99997,Apartment,regular_sale,1285000,0.0,4,246.0,Zealand,9.50,2.10,10.14,134
99998,Villa,family_sale,800000,0.0,6,147.0,Jutland,9.50,2.10,10.14,70
99999,Villa,regular_sale,730000,0.0,5,110.0,Jutland,9.50,2.10,10.14,68

In [65]:
def remove_outliers(df, column):

    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    filtered_df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    return filtered_df

In [66]:
outliers = ["purchase_price", "%_change_between_offer_and_purchase", "no_rooms" ,
                      'sqm' , "nom_interest_rate%" , "dk_ann_infl_rate%" , "yield_on_mortgage_credit_bonds%" , "age"]

for feature in outliers :
    dataset = remove_outliers(dataset, feature)

In [67]:
dataset.isnull().sum()

house_type                             0
sales_type                             0
purchase_price                         0
%_change_between_offer_and_purchase    0
no_rooms                               0
sqm                                    0
region                                 0
nom_interest_rate%                     0
dk_ann_infl_rate%                      0
yield_on_mortgage_credit_bonds%        0
age                                    0
dtype: int64

In [68]:
needs_to_be_scaled = ["purchase_price", "%_change_between_offer_and_purchase", "no_rooms" ,
                      'sqm' , "nom_interest_rate%" , "dk_ann_infl_rate%" , "yield_on_mortgage_credit_bonds%" , "age"]

for feature in needs_to_be_scaled:
    scaler = StandardScaler()
    dataset[feature] = scaler.fit_transform(dataset[[feature]])

In [69]:
multi_class_feature = ['house_type' , 'sales_type' , 'region']

# Apply OneHotEncoding only once
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

# Encode categorical features
encoded_data = encoder.fit_transform(dataset[multi_class_feature])
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(multi_class_feature))

# Drop original categorical features and concatenate the encoded data
dataset = dataset.drop(columns=multi_class_feature)
dataset = pd.concat([dataset, encoded_df], axis=1)

In [70]:
dataset

,purchase_price,%_change_between_offer_and_purchase,no_rooms,sqm,nom_interest_rate%,dk_ann_infl_rate%,yield_on_mortgage_credit_bonds%,age,house_type_Apartment,house_type_Farm,...,house_type_Townhouse,house_type_Villa,sales_type_auction,sales_type_family_sale,sales_type_other_sale,sales_type_regular_sale,region_Bornholm,region_Fyn_and_islands,region_Jutland,region_Zealand
77,0.783722,-2.039867,-0.827335,-1.032499,0.927101,-0.539658,0.091619,-1.654598,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
78,-0.477247,-0.514940,-1.524020,-1.787917,0.927101,-0.539658,0.091619,1.694828,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
79,-0.846197,0.501678,-0.827335,-0.125998,0.927101,-0.539658,0.091619,1.108679,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
82,-0.519279,0.501678,-1.524020,-1.464167,0.927101,-0.539658,0.091619,-0.147356,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
84,1.512282,0.501678,-1.524020,0.068252,0.927101,-0.539658,0.091619,0.299234,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
73657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
73671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
73700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
73733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [ ]:
# Save the processed dataset to a new CSV file
dataset.to_csv('processed_dataset.csv', index=False)
print("Processed dataset saved to 'processed_dataset.csv'")